EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=priyankapranika17@gmail.com
EMAIL_HOST_PASSWORD=xjkj xbcc snuh mapp
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=priyankapranika17@gmail.com
FRONTEND_BASE_URL=http://localhost:3000
