-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: neubaiticslmsdb
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=145 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_flatpage`
--

DROP TABLE IF EXISTS `django_flatpage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_flatpage` (
  `id` int NOT NULL AUTO_INCREMENT,
  `url` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `enable_comments` tinyint(1) NOT NULL,
  `template_name` varchar(70) COLLATE utf8mb4_unicode_ci NOT NULL,
  `registration_required` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_flatpage_url_41612362` (`url`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_flatpage`
--

LOCK TABLES `django_flatpage` WRITE;
/*!40000 ALTER TABLE `django_flatpage` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_flatpage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_flatpage_sites`
--

DROP TABLE IF EXISTS `django_flatpage_sites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_flatpage_sites` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `flatpage_id` int NOT NULL,
  `site_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_flatpage_sites_flatpage_id_site_id_0d29d9d1_uniq` (`flatpage_id`,`site_id`),
  KEY `django_flatpage_sites_site_id_bfd8ea84_fk_django_site_id` (`site_id`),
  CONSTRAINT `django_flatpage_sites_flatpage_id_078bbc8b_fk_django_flatpage_id` FOREIGN KEY (`flatpage_id`) REFERENCES `django_flatpage` (`id`),
  CONSTRAINT `django_flatpage_sites_site_id_bfd8ea84_fk_django_site_id` FOREIGN KEY (`site_id`) REFERENCES `django_site` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_flatpage_sites`
--

LOCK TABLES `django_flatpage_sites` WRITE;
/*!40000 ALTER TABLE `django_flatpage_sites` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_flatpage_sites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_site`
--

DROP TABLE IF EXISTS `django_site`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_site` (
  `id` int NOT NULL AUTO_INCREMENT,
  `domain` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_site_domain_a2e37b91_uniq` (`domain`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_site`
--

LOCK TABLES `django_site` WRITE;
/*!40000 ALTER TABLE `django_site` DISABLE KEYS */;
INSERT INTO `django_site` VALUES (1,'example.com','example.com');
/*!40000 ALTER TABLE `django_site` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_attemptquiz`
--

DROP TABLE IF EXISTS `main_attemptquiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_attemptquiz` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `add_time` datetime(6) NOT NULL,
  `quiz_id` bigint DEFAULT NULL,
  `question_id` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  `is_correct` tinyint(1) NOT NULL,
  `selected_answer` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `main_attemptquiz_student_id_quiz_id_question_id_e25f1120_uniq` (`student_id`,`quiz_id`,`question_id`),
  KEY `main_attemptquiz_student_id_0c917b6d` (`student_id`),
  KEY `main_attemptquiz_question_id_e844c235_fk_main_quizquestions_id` (`question_id`),
  KEY `main_attemptquiz_quiz_id_504402f9_fk_main_quiz_id` (`quiz_id`),
  CONSTRAINT `main_attemptquiz_question_id_e844c235_fk_main_quizquestions_id` FOREIGN KEY (`question_id`) REFERENCES `main_quizquestions` (`id`),
  CONSTRAINT `main_attemptquiz_quiz_id_504402f9_fk_main_quiz_id` FOREIGN KEY (`quiz_id`) REFERENCES `main_quiz` (`id`),
  CONSTRAINT `main_attemptquiz_student_id_0c917b6d_fk_main_student_id` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_attemptquiz`
--

LOCK TABLES `main_attemptquiz` WRITE;
/*!40000 ALTER TABLE `main_attemptquiz` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_attemptquiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_blog`
--

DROP TABLE IF EXISTS `main_blog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_blog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `video_upload` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_blog`
--

LOCK TABLES `main_blog` WRITE;
/*!40000 ALTER TABLE `main_blog` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_blog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_chapter`
--

DROP TABLE IF EXISTS `main_chapter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_chapter` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `video` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remarks` longtext COLLATE utf8mb4_unicode_ci,
  `course_id` bigint DEFAULT NULL,
  `video_url` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `main_chapter_course_id_72de819c_fk_main_course_id` (`course_id`),
  CONSTRAINT `main_chapter_course_id_72de819c_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_chapter`
--

LOCK TABLES `main_chapter` WRITE;
/*!40000 ALTER TABLE `main_chapter` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_chapter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_course`
--

DROP TABLE IF EXISTS `main_course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_course` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `featured_img` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `techs` longtext COLLATE utf8mb4_unicode_ci,
  `course_views` bigint NOT NULL,
  `category_id` bigint NOT NULL,
  `teacher_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `main_course_category_id_f8b052fb_fk_main_coursecategory_id` (`category_id`),
  KEY `main_course_teacher_id_f74be8b8_fk_main_teacher_id` (`teacher_id`),
  CONSTRAINT `main_course_category_id_f8b052fb_fk_main_coursecategory_id` FOREIGN KEY (`category_id`) REFERENCES `main_coursecategory` (`id`),
  CONSTRAINT `main_course_teacher_id_f74be8b8_fk_main_teacher_id` FOREIGN KEY (`teacher_id`) REFERENCES `main_teacher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_course`
--

LOCK TABLES `main_course` WRITE;
/*!40000 ALTER TABLE `main_course` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_coursecategory`
--

DROP TABLE IF EXISTS `main_coursecategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_coursecategory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_coursecategory`
--

LOCK TABLES `main_coursecategory` WRITE;
/*!40000 ALTER TABLE `main_coursecategory` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_coursecategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_coursechatgroup`
--

DROP TABLE IF EXISTS `main_coursechatgroup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_coursechatgroup` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `course_id` bigint NOT NULL,
  `teacher_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `course_id` (`course_id`),
  KEY `main_coursechatgroup_teacher_id_a0228459_fk_main_teacher_id` (`teacher_id`),
  CONSTRAINT `main_coursechatgroup_course_id_d0d4c257_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`),
  CONSTRAINT `main_coursechatgroup_teacher_id_a0228459_fk_main_teacher_id` FOREIGN KEY (`teacher_id`) REFERENCES `main_teacher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_coursechatgroup`
--

LOCK TABLES `main_coursechatgroup` WRITE;
/*!40000 ALTER TABLE `main_coursechatgroup` DISABLE KEYS */;
INSERT INTO `main_coursechatgroup` VALUES (1,'2026-03-06 10:30:06.170665',1,2),(2,'2026-03-06 10:35:20.248404',2,2),(3,'2026-03-06 10:45:27.584417',3,2),(4,'2026-03-06 10:48:29.178638',4,2),(5,'2026-03-23 10:07:56.103181',9,8);
/*!40000 ALTER TABLE `main_coursechatgroup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_coursegroupmessage`
--

DROP TABLE IF EXISTS `main_coursegroupmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_coursegroupmessage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `sender_type` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `group_id` bigint NOT NULL,
  `sender_student_id` bigint DEFAULT NULL,
  `meeting_link` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `message_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `main_coursegroupmess_group_id_948b3f5d_fk_main_cour` (`group_id`),
  KEY `main_coursegroupmess_sender_student_id_8d4b7ed2_fk_main_stud` (`sender_student_id`),
  CONSTRAINT `main_coursegroupmess_group_id_948b3f5d_fk_main_cour` FOREIGN KEY (`group_id`) REFERENCES `main_coursechatgroup` (`id`),
  CONSTRAINT `main_coursegroupmess_sender_student_id_8d4b7ed2_fk_main_stud` FOREIGN KEY (`sender_student_id`) REFERENCES `main_student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_coursegroupmessage`
--

LOCK TABLES `main_coursegroupmessage` WRITE;
/*!40000 ALTER TABLE `main_coursegroupmessage` DISABLE KEYS */;
INSERT INTO `main_coursegroupmessage` VALUES (1,'teacher','be ready befor 5 mins','2026-03-06 10:30:06.180891',1,NULL,'https://us06web.zoom.us/j/86079258446?pwd=AuamQO3DkdHUkZnc56fHnQs5ttRfgQ.1','meeting','lin k for new meeting'),(2,'student','hello mam im not get the url','2026-03-06 10:35:33.101070',2,6,'','message','');
/*!40000 ALTER TABLE `main_coursegroupmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_coursequiz`
--

DROP TABLE IF EXISTS `main_coursequiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_coursequiz` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `add_time` datetime(6) NOT NULL,
  `course_id` bigint DEFAULT NULL,
  `quiz_id` bigint DEFAULT NULL,
  `teacher_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `main_coursequiz_course_id_f7ce614b_fk_main_course_id` (`course_id`),
  KEY `main_coursequiz_quiz_id_8ab117ca_fk_main_quiz_id` (`quiz_id`),
  KEY `main_coursequiz_teacher_id_1fe22b9c_fk_main_teacher_id` (`teacher_id`),
  CONSTRAINT `main_coursequiz_course_id_f7ce614b_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`),
  CONSTRAINT `main_coursequiz_quiz_id_8ab117ca_fk_main_quiz_id` FOREIGN KEY (`quiz_id`) REFERENCES `main_quiz` (`id`),
  CONSTRAINT `main_coursequiz_teacher_id_1fe22b9c_fk_main_teacher_id` FOREIGN KEY (`teacher_id`) REFERENCES `main_teacher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_coursequiz`
--

LOCK TABLES `main_coursequiz` WRITE;
/*!40000 ALTER TABLE `main_coursequiz` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_coursequiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_courserating`
--

DROP TABLE IF EXISTS `main_courserating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_courserating` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rating` bigint unsigned NOT NULL,
  `reviews` longtext COLLATE utf8mb4_unicode_ci,
  `review_time` datetime(6) NOT NULL,
  `course_id` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `main_courserating_course_id_c4cf9f54_fk_main_course_id` (`course_id`),
  KEY `main_courserating_student_id_67da56ba_fk_main_student_id` (`student_id`),
  CONSTRAINT `main_courserating_course_id_c4cf9f54_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`),
  CONSTRAINT `main_courserating_student_id_67da56ba_fk_main_student_id` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`),
  CONSTRAINT `main_courserating_chk_1` CHECK ((`rating` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_courserating`
--

LOCK TABLES `main_courserating` WRITE;
/*!40000 ALTER TABLE `main_courserating` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_courserating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_faq`
--

DROP TABLE IF EXISTS `main_faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_faq` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `question` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `answer` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_faq`
--

LOCK TABLES `main_faq` WRITE;
/*!40000 ALTER TABLE `main_faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_groupchatreadstate`
--

DROP TABLE IF EXISTS `main_groupchatreadstate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_groupchatreadstate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `last_seen_at` datetime(6) NOT NULL,
  `group_id` bigint NOT NULL,
  `student_id` bigint DEFAULT NULL,
  `teacher_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `main_groupchatreadst_group_id_a587411a_fk_main_cour` (`group_id`),
  KEY `main_groupchatreadstate_student_id_d1cfba70_fk_main_student_id` (`student_id`),
  KEY `main_groupchatreadstate_teacher_id_26bb5120_fk_main_teacher_id` (`teacher_id`),
  CONSTRAINT `main_groupchatreadst_group_id_a587411a_fk_main_cour` FOREIGN KEY (`group_id`) REFERENCES `main_coursechatgroup` (`id`),
  CONSTRAINT `main_groupchatreadstate_student_id_d1cfba70_fk_main_student_id` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`),
  CONSTRAINT `main_groupchatreadstate_teacher_id_26bb5120_fk_main_teacher_id` FOREIGN KEY (`teacher_id`) REFERENCES `main_teacher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_groupchatreadstate`
--

LOCK TABLES `main_groupchatreadstate` WRITE;
/*!40000 ALTER TABLE `main_groupchatreadstate` DISABLE KEYS */;
INSERT INTO `main_groupchatreadstate` VALUES (1,'2026-03-06 10:45:10.588831',2,6,NULL),(2,'2026-03-16 05:13:50.120433',1,6,NULL),(3,'2026-03-06 10:45:27.594378',3,6,NULL),(4,'2026-03-16 05:14:32.468280',1,NULL,2),(5,'2026-03-06 10:48:21.061902',2,NULL,2),(6,'2026-03-06 10:48:24.463561',3,NULL,2),(7,'2026-03-11 05:34:50.891252',4,NULL,2),(8,'2026-03-23 10:07:56.151318',5,6,NULL);
/*!40000 ALTER TABLE `main_groupchatreadstate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_institution`
--

DROP TABLE IF EXISTS `main_institution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_institution` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_institution_name_type` ((lower(`name`)),`type`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_institution`
--

LOCK TABLES `main_institution` WRITE;
/*!40000 ALTER TABLE `main_institution` DISABLE KEYS */;
INSERT INTO `main_institution` VALUES (1,'Sarah Tucker','college'),(2,'Reach Matric','school');
/*!40000 ALTER TABLE `main_institution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_mockinterview`
--

DROP TABLE IF EXISTS `main_mockinterview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_mockinterview` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `interview_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_questions` int unsigned NOT NULL,
  `asked_questions` int unsigned NOT NULL,
  `overall_score` int unsigned NOT NULL,
  `score_intro` int unsigned NOT NULL,
  `score_technical` int unsigned NOT NULL,
  `score_coding` int unsigned NOT NULL,
  `score_communication` int unsigned NOT NULL,
  `strengths` longtext COLLATE utf8mb4_unicode_ci,
  `weaknesses` longtext COLLATE utf8mb4_unicode_ci,
  `improvement_plan` longtext COLLATE utf8mb4_unicode_ci,
  `recommended_topics` longtext COLLATE utf8mb4_unicode_ci,
  `ai_summary` longtext COLLATE utf8mb4_unicode_ci,
  `started_at` datetime(6) NOT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `course_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `main_mockinterview_course_id_87783ce9_fk_main_course_id` (`course_id`),
  KEY `main_mockinterview_student_id_456009be_fk_main_student_id` (`student_id`),
  CONSTRAINT `main_mockinterview_course_id_87783ce9_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`),
  CONSTRAINT `main_mockinterview_student_id_456009be_fk_main_student_id` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`),
  CONSTRAINT `main_mockinterview_chk_1` CHECK ((`total_questions` >= 0)),
  CONSTRAINT `main_mockinterview_chk_2` CHECK ((`asked_questions` >= 0)),
  CONSTRAINT `main_mockinterview_chk_3` CHECK ((`overall_score` >= 0)),
  CONSTRAINT `main_mockinterview_chk_4` CHECK ((`score_intro` >= 0)),
  CONSTRAINT `main_mockinterview_chk_5` CHECK ((`score_technical` >= 0)),
  CONSTRAINT `main_mockinterview_chk_6` CHECK ((`score_coding` >= 0)),
  CONSTRAINT `main_mockinterview_chk_7` CHECK ((`score_communication` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_mockinterview`
--

LOCK TABLES `main_mockinterview` WRITE;
/*!40000 ALTER TABLE `main_mockinterview` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_mockinterview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_mockinterviewanswer`
--

DROP TABLE IF EXISTS `main_mockinterviewanswer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_mockinterviewanswer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `answer_text` longtext COLLATE utf8mb4_unicode_ci,
  `score` int unsigned NOT NULL,
  `communication_score` int unsigned NOT NULL,
  `technical_score` int unsigned NOT NULL,
  `confidence_score` int unsigned NOT NULL,
  `feedback` longtext COLLATE utf8mb4_unicode_ci,
  `improvement_tip` longtext COLLATE utf8mb4_unicode_ci,
  `suggested_followup` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `interview_id` bigint NOT NULL,
  `question_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `main_mockinterviewanswer_interview_id_question_id_fd7b50f1_uniq` (`interview_id`,`question_id`),
  KEY `main_mockinterviewan_question_id_30a124c3_fk_main_mock` (`question_id`),
  CONSTRAINT `main_mockinterviewan_interview_id_e156673c_fk_main_mock` FOREIGN KEY (`interview_id`) REFERENCES `main_mockinterview` (`id`),
  CONSTRAINT `main_mockinterviewan_question_id_30a124c3_fk_main_mock` FOREIGN KEY (`question_id`) REFERENCES `main_mockinterviewquestion` (`id`),
  CONSTRAINT `main_mockinterviewanswer_chk_1` CHECK ((`score` >= 0)),
  CONSTRAINT `main_mockinterviewanswer_chk_2` CHECK ((`communication_score` >= 0)),
  CONSTRAINT `main_mockinterviewanswer_chk_3` CHECK ((`technical_score` >= 0)),
  CONSTRAINT `main_mockinterviewanswer_chk_4` CHECK ((`confidence_score` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_mockinterviewanswer`
--

LOCK TABLES `main_mockinterviewanswer` WRITE;
/*!40000 ALTER TABLE `main_mockinterviewanswer` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_mockinterviewanswer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_mockinterviewquestion`
--

DROP TABLE IF EXISTS `main_mockinterviewquestion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_mockinterviewquestion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `round_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_text` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `ideal_points` longtext COLLATE utf8mb4_unicode_ci,
  `coding_prompt` longtext COLLATE utf8mb4_unicode_ci,
  `expected_answer` longtext COLLATE utf8mb4_unicode_ci,
  `order` int unsigned NOT NULL,
  `is_answered` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `interview_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `main_mockinterviewqu_interview_id_785d696b_fk_main_mock` (`interview_id`),
  CONSTRAINT `main_mockinterviewqu_interview_id_785d696b_fk_main_mock` FOREIGN KEY (`interview_id`) REFERENCES `main_mockinterview` (`id`),
  CONSTRAINT `main_mockinterviewquestion_chk_1` CHECK ((`order` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_mockinterviewquestion`
--

LOCK TABLES `main_mockinterviewquestion` WRITE;
/*!40000 ALTER TABLE `main_mockinterviewquestion` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_mockinterviewquestion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_quiz`
--

DROP TABLE IF EXISTS `main_quiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_quiz` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `detail` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `add_time` datetime(6) NOT NULL,
  `teacher_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `main_quiz_teacher_id_8901358e_fk_main_teacher_id` (`teacher_id`),
  CONSTRAINT `main_quiz_teacher_id_8901358e_fk_main_teacher_id` FOREIGN KEY (`teacher_id`) REFERENCES `main_teacher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_quiz`
--

LOCK TABLES `main_quiz` WRITE;
/*!40000 ALTER TABLE `main_quiz` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_quiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_quizquestions`
--

DROP TABLE IF EXISTS `main_quizquestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_quizquestions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `questions` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `ans1` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ans2` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ans3` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ans4` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `right_ans` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `add_time` datetime(6) NOT NULL,
  `quiz_id` bigint DEFAULT NULL,
  `coding_solution` longtext COLLATE utf8mb4_unicode_ci,
  `coding_starter_code` longtext COLLATE utf8mb4_unicode_ci,
  `question_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `main_quizquestions_quiz_id_bddb7bdd_fk_main_quiz_id` (`quiz_id`),
  CONSTRAINT `main_quizquestions_quiz_id_bddb7bdd_fk_main_quiz_id` FOREIGN KEY (`quiz_id`) REFERENCES `main_quiz` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_quizquestions`
--

LOCK TABLES `main_quizquestions` WRITE;
/*!40000 ALTER TABLE `main_quizquestions` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_quizquestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_student`
--

DROP TABLE IF EXISTS `main_student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_student` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fullname` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `interseted_categories` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `image` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_approved` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `main_student_username_68e2103d_uniq` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_student`
--

LOCK TABLES `main_student` WRITE;
/*!40000 ALTER TABLE `main_student` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_studentassignment`
--

DROP TABLE IF EXISTS `main_studentassignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_studentassignment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `detail` longtext COLLATE utf8mb4_unicode_ci,
  `student_status` tinyint(1) NOT NULL,
  `add_time` datetime(6) NOT NULL,
  `student_id` bigint NOT NULL,
  `teacher_id` bigint NOT NULL,
  `answer_text` longtext COLLATE utf8mb4_unicode_ci,
  `course_id` bigint DEFAULT NULL,
  `submitted_time` datetime(6) DEFAULT NULL,
  `upload_file` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `upload_image` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `main_studentassignment_course_id_cefb2275_fk_main_course_id` (`course_id`),
  KEY `main_studentassignment_student_id_a4f06eb2_fk_main_student_id` (`student_id`),
  KEY `main_studentassignment_teacher_id_5d93f84b_fk_main_teacher_id` (`teacher_id`),
  CONSTRAINT `main_studentassignment_course_id_cefb2275_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`),
  CONSTRAINT `main_studentassignment_student_id_a4f06eb2_fk_main_student_id` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`),
  CONSTRAINT `main_studentassignment_teacher_id_5d93f84b_fk_main_teacher_id` FOREIGN KEY (`teacher_id`) REFERENCES `main_teacher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_studentassignment`
--

LOCK TABLES `main_studentassignment` WRITE;
/*!40000 ALTER TABLE `main_studentassignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_studentassignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_studentcertificate`
--

DROP TABLE IF EXISTS `main_studentcertificate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_studentcertificate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `certificate_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issue_date` datetime(6) NOT NULL,
  `pdf_file` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `course_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `certificate_id` (`certificate_id`),
  UNIQUE KEY `main_studentcertificate_student_id_course_id_db5eaff1_uniq` (`student_id`,`course_id`),
  KEY `main_studentcertificate_course_id_730ce31c_fk_main_course_id` (`course_id`),
  CONSTRAINT `main_studentcertificate_course_id_730ce31c_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`),
  CONSTRAINT `main_studentcertificate_student_id_0f8ca1ab_fk_main_student_id` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_studentcertificate`
--

LOCK TABLES `main_studentcertificate` WRITE;
/*!40000 ALTER TABLE `main_studentcertificate` DISABLE KEYS */;
INSERT INTO `main_studentcertificate` VALUES (1,'NB-36A7CE1C6E80','2026-01-29 05:21:14.243205','certificates/NB-36A7CE1C6E80.pdf','issued',1,1),(2,'NB-189EC1E93AA3','2026-02-04 07:45:08.336877','','issued',4,1),(3,'NB-52244F4BE4B6','2026-02-09 05:00:09.472391','','issued',2,1),(5,'NB-ED4D2CEA785B','2026-03-04 13:09:04.564459','','issued',1,6);
/*!40000 ALTER TABLE `main_studentcertificate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_studentchapterprogress`
--

DROP TABLE IF EXISTS `main_studentchapterprogress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_studentchapterprogress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `watched_seconds` int unsigned NOT NULL,
  `is_completed` tinyint(1) NOT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `chapter_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `main_studentchapterprogress_student_id_chapter_id_763f47ea_uniq` (`student_id`,`chapter_id`),
  KEY `main_studentchapterp_chapter_id_e6a951e4_fk_main_chap` (`chapter_id`),
  CONSTRAINT `main_studentchapterp_chapter_id_e6a951e4_fk_main_chap` FOREIGN KEY (`chapter_id`) REFERENCES `main_chapter` (`id`),
  CONSTRAINT `main_studentchapterp_student_id_7b8eb304_fk_main_stud` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`),
  CONSTRAINT `main_studentchapterprogress_chk_1` CHECK ((`watched_seconds` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_studentchapterprogress`
--

LOCK TABLES `main_studentchapterprogress` WRITE;
/*!40000 ALTER TABLE `main_studentchapterprogress` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_studentchapterprogress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_studentcourseenrollment`
--

DROP TABLE IF EXISTS `main_studentcourseenrollment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_studentcourseenrollment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `enrolled_time` datetime(6) NOT NULL,
  `course_id` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  `certificate_approved` tinyint(1) NOT NULL,
  `certificate_approved_at` datetime(6) DEFAULT NULL,
  `payment_proof` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `is_completed` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `main_studentcourseenrollment_course_id_student_id_38d587fd_uniq` (`course_id`,`student_id`),
  KEY `main_studentcourseen_student_id_1466b978_fk_main_stud` (`student_id`),
  CONSTRAINT `main_studentcourseen_course_id_86ce6938_fk_main_cour` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`),
  CONSTRAINT `main_studentcourseen_student_id_1466b978_fk_main_stud` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_studentcourseenrollment`
--

LOCK TABLES `main_studentcourseenrollment` WRITE;
/*!40000 ALTER TABLE `main_studentcourseenrollment` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_studentcourseenrollment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_studentfavoritecourse`
--

DROP TABLE IF EXISTS `main_studentfavoritecourse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_studentfavoritecourse` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` tinyint(1) NOT NULL,
  `course_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_favorite_course` (`course_id`,`student_id`),
  KEY `main_studentfavorite_student_id_a028e3b6_fk_main_stud` (`student_id`),
  CONSTRAINT `main_studentfavorite_student_id_a028e3b6_fk_main_stud` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`),
  CONSTRAINT `main_studentfavoritecourse_course_id_ab119fa4_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_studentfavoritecourse`
--

LOCK TABLES `main_studentfavoritecourse` WRITE;
/*!40000 ALTER TABLE `main_studentfavoritecourse` DISABLE KEYS */;
INSERT INTO `main_studentfavoritecourse` VALUES (1,1,3,1),(3,1,1,1),(4,1,4,1),(5,1,2,1),(7,1,5,1),(10,1,9,1),(11,1,1,8),(12,1,9,6);
/*!40000 ALTER TABLE `main_studentfavoritecourse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_studymaterial`
--

DROP TABLE IF EXISTS `main_studymaterial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_studymaterial` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `upload` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remarks` longtext COLLATE utf8mb4_unicode_ci,
  `course_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `main_studymaterial_course_id_985aedd5_fk_main_course_id` (`course_id`),
  CONSTRAINT `main_studymaterial_course_id_985aedd5_fk_main_course_id` FOREIGN KEY (`course_id`) REFERENCES `main_course` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_studymaterial`
--

LOCK TABLES `main_studymaterial` WRITE;
/*!40000 ALTER TABLE `main_studymaterial` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_studymaterial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_teacher`
--

DROP TABLE IF EXISTS `main_teacher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_teacher` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `qualification` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mobile_no` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `skills` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_approved` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_teacher`
--

LOCK TABLES `main_teacher` WRITE;
/*!40000 ALTER TABLE `main_teacher` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_teacher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_teacherstudentchat`
--

DROP TABLE IF EXISTS `main_teacherstudentchat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_teacherstudentchat` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `message` longtext COLLATE utf8mb4_unicode_ci,
  `timestamp` datetime(6) NOT NULL,
  `student_id` bigint DEFAULT NULL,
  `teacher_id` bigint NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `sender` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `image` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `audio` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `audio_transcript` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `main_teacherstudentchat_student_id_b493dacb_fk_main_student_id` (`student_id`),
  KEY `main_teache_teacher_972e48_idx` (`teacher_id`,`student_id`,`sender`,`is_read`),
  CONSTRAINT `main_teacherstudentchat_student_id_b493dacb_fk_main_student_id` FOREIGN KEY (`student_id`) REFERENCES `main_student` (`id`),
  CONSTRAINT `main_teacherstudentchat_teacher_id_169115f9_fk_main_teacher_id` FOREIGN KEY (`teacher_id`) REFERENCES `main_teacher` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_teacherstudentchat`
--

LOCK TABLES `main_teacherstudentchat` WRITE;
/*!40000 ALTER TABLE `main_teacherstudentchat` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_teacherstudentchat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_workshop`
--

DROP TABLE IF EXISTS `main_workshop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_workshop` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date` date NOT NULL,
  `fee` decimal(8,2) NOT NULL,
  `max_seats` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `main_workshop_chk_1` CHECK ((`max_seats` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_workshop`
--

LOCK TABLES `main_workshop` WRITE;
/*!40000 ALTER TABLE `main_workshop` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_workshop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `main_workshopregistration`
--

DROP TABLE IF EXISTS `main_workshopregistration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `main_workshopregistration` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `registered_at` datetime(6) NOT NULL,
  `workshop_id` bigint NOT NULL,
  `base_amount` decimal(7,2) DEFAULT NULL,
  `payable_amount` decimal(7,2) DEFAULT NULL,
  `institution_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `main_workshopregistr_workshop_id_16f47a3f_fk_main_work` (`workshop_id`),
  KEY `main_workshopregistr_institution_id_315c100a_fk_main_inst` (`institution_id`),
  CONSTRAINT `main_workshopregistr_institution_id_315c100a_fk_main_inst` FOREIGN KEY (`institution_id`) REFERENCES `main_institution` (`id`),
  CONSTRAINT `main_workshopregistr_workshop_id_16f47a3f_fk_main_work` FOREIGN KEY (`workshop_id`) REFERENCES `main_workshop` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `main_workshopregistration`
--

LOCK TABLES `main_workshopregistration` WRITE;
/*!40000 ALTER TABLE `main_workshopregistration` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_workshopregistration` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-25 11:26:41
