.glass-card {
  background: rgba(6, 54, 69, 0.6);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 28px;
  border: 1px solid rgba(0,255,255,0.5);
  box-shadow: 0 0 25px rgba(0,255,255,0.35);
  color: #ffffff;
  transition: 0.3s;
}

.teacher-card{
    padding-bottom: 50px;
    margin-right: 40px;
}


.glass-card:hover {
  border: 1px solid rgba(0, 255, 255, 0.8);
  box-shadow: 0 0 18px rgba(0, 255, 255, 0.8);
  transform: translateY(-2px);
}

/* Title like dashboard */
.glass-card h3 {
  color: cyan;
  margin-top: 0 !important;
  margin-bottom: 15px;
  border-bottom: 1.5px solid rgba(0, 255, 255, 0.4);
  padding-bottom: 5px;
  font-weight: 600;
}

.glass-card-body .form-label {
  color: #e0ffff;
  font-weight: 500;
}

/* Input box glow */
.glass-card .form-control {
  background: rgba(0,0,0,0.4);
  border: 1px solid rgba(0,255,255,0.4);
  color: cyan;
}

.glass-card .form-control:focus {
  border: 1.5px solid cyan;
  box-shadow: 0 0 8px cyan;
  background: rgba(0,0,0,0.6);
  color: white;
}


/* ==== GLASS TABLE ===== */
.custom-table {
  background: transparent !important;
  border-collapse: separate;
  border-spacing: 0 6px;  /* space between rows */
}

.custom-table thead th {
  color: cyan !important;
  font-weight: 600;
  border-bottom: 1.5px solid rgba(0, 255, 255, 0.4) !important;
  text-transform: uppercase;
}

.custom-table tbody tr {
  background: rgba(0, 255, 255, 0.05);
  transition: 0.25s;
  border-bottom: 1px solid rgba(0,255,255,0.3);
}

.custom-table tbody tr:hover {
  background: rgba(0, 255, 255, 0.15);
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 8px rgba(0,255,255,0.4);
}

.custom-table td {
  color: white !important;
  padding: 12px;
  font-weight: 400;
}

/* View Result Button Matching Theme */
.glass-btn {
  background: rgba(0,255,255,0.2);
  border: 1px solid cyan;
  color: white !important;
  padding: 4px 10px;
  transition: 0.3s;
}

.glass-btn:hover {
  background: cyan;
  color: black !important;
  box-shadow: 0 0 12px cyan;
}
