.showcase {
  position: relative;
  height: 100vh; /* full screen */
  overflow: hidden;
}

.showcase video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.showcase .overlay {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent dark overlay */
  z-index: 1;
}

.showcase .text {
  z-index: 2;
  position: relative;
}

.head {
  font-size: 3rem;
  font-weight: 800;
}

.headss {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.para {
  font-size: 1.25rem;
  margin-top: 1rem;
}
